<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pangzl.homestay.order.dao.TodayOrderDao">

	<select id="getTodayOrders" resultType="cn.pangzl.homestay.order.entity.TodayOrder">
		select rooms.room_num roomNum,cus.cus_name cusName,cus.sex,cus.phone,orders.follow_cus_id followCusId,orders.start_date startDate,orders.end_date endDate,orders.order_status orderStatus  
		from customers cus,orders,rooms 
		where 
		orders.cus_id_card = cus.id_card and orders.room_id = rooms.id;
	</select>
	
</mapper>